/* POUR ECRAN */
#logo {
    width : 19.24198250728863%; /* 132/686px (98% de 700px) */ 
}

.article {
     width : 30.61224489795918%; /*210/686*/
     padding : 0.5em 0.7288629737609329% 1.2em 0.7288629737609329%; /* 5/686 */
     margin-top : 0.4em;
     float : left;
     text-align: none;
}

.article:first-child, #main .article:nth-child(2){
    margin-right: 1.895043731778426%; /* 13/686 */
} 
    
.article img {
    float : none;
    width : 100%; 
    margin-right : 0; 
}
    
.article:after {
    content:'';
    display : none;
    clear : none;
}

#main:after {
    content:'';
    display : block;
    clear : both;
}

.article h1 {
    font-size : 1.6em;
    color : #FFF;
    margin-left : 0; 
}

.article p {
    text-align: left;
    margin-left : 0; 
}
    
.link{
    width : 32.94460641399417%; /* 226/686px  */
    margin-right: 0;
    height : 5.8em;
    line-height: 5.8em;
    float : left;           
}

.link:first-child, #additional .link:nth-child(2), #additional .link:nth-child(4), #additional .link:nth-child(5) {
    margin-right : 0.1457725947521866%; /* 1/686 */
}
    
.link img{
    width : 32.74336283185841%; /* 74/226px en tenant compte des padding */
    height:5.8em;
    float : left;       
}
    
#additional:after {
    content:'';
    display : block;
    clear : both;
}